body {
	font-family: 'Droid Serif', serif;
}
.main {
	width: 400px;
	min-height: 230px;
	position: relative;
}
.text-bold {
	/*font-weight: bold;*/
}
.totals .btn:first-child {
	width: 231px;
}
.totals .btn:last-child {
	width: 140px;
}
.totals .assigned {
	font-size: 17px;
	vertical-align: super;
}
.totals .assigned:after {
	content: 'estimated';
	position: absolute;
	right: 9px;
	bottom: 19px;
	font-size: 12px;
	font-family: Tahoma, Arial, sans-serif;
}
.wrong {
	padding-top: 100px;
}

.loader,
.loader:before,
.loader:after {
	background: #b70000;
	-webkit-animation: load1 1s infinite ease-in-out;
	animation: load1 1s infinite ease-in-out;
	width: 1em;
	height: 4em;
}
.loader:before,
.loader:after {
	position: absolute;
	top: 0;
	content: '';
}
.loader:before {
	left: -1.5em;
}
.loader {
	text-indent: -9999em;
	margin: 8em auto;
	position: relative;
	font-size: 11px;
	-webkit-animation-delay: -0.16s;
	animation-delay: -0.16s;
}
.loader:after {
	left: 1.5em;
	-webkit-animation-delay: -0.32s;
	animation-delay: -0.32s;
}
@-webkit-keyframes load1 {
	0%,
	80%,
	100% {
		box-shadow: 0 0 #b70000;
		height: 4em;
	}
	40% {
		box-shadow: 0 -2em #b70000;
		height: 5em;
	}
}
